<h1 class="text-4xl font-bold text-gray-900 mb-6 text-center pt-3">Work Day</h1>

<div data-controller="counter" class="min-h-screen bg-gray-100 flex flex-col items-center justify-center gap-8">
  <%= form_with(model: @session) do |f| %>
    <div class="flex flex-col items-center justify-self-center">
      <%= f.text_field :salary,
             placeholder:"$00.00",
            data: { action: "input->counter#profit", counter_target: "salary" }, 
            class: "bg-gray-50 text-center border border-gray-300 text-3xl text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500" %>
    </div>

    <div class="flex items-center gap-16">
      <%= f.text_field :profit, 
            data: { counter_target: "earn" }, 
           value: "$00.00", 
            readonly: true, 
            class: "w-2/5 bg-white text-center border border-gray-300 text-3xl text-gray-900 rounded-lg block p-8 shadow-lg" %>

      <div class="w-2/3 bg-white rounded-xl shadow-lg p-8 text-center">
        <button data-action="counter#toggleStartStop" 
                data-counter-target="startStop" 
                type="button" 
                class="focus:outline-none text-white bg-red-600 hover:bg-red-500 font-medium rounded-lg px-4 py-2">
          Start
        </button>
        <%= f.text_field :time, value:"00:00:00" ,
        readonly: true, 
        data: { counter_target: "stopwatch" }, class: "mt-4 bg-gray-300 text-center border border-gray-300 text-4xl text-gray-900 rounded-lg block w-full p-8 shadow-lg" %>
      </div>

      <%= f.text_field :hours, value: "Hours completed" ,
            data: { counter_target: "hours" }, 
            readonly: true, 
            class: "w-2/5 bg-white text-center border border-gray-300 text-2xl text-gray-900 rounded-lg block p-8 shadow-lg" %>
    </div>
    
    <div class="flex justify-center mt-6">
      <%= f.submit "Save session", class: "bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded-full" %>
    </div>
  <% end %>
</div>
