<div class="max-w-4xl mx-auto mt-10">
  <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead class="bg-gray-800 text-white text-center">
      <tr>
        <th class="py-2 px-4">Day</th>
        <th class="py-2 px-4">Salary</th>
        <th class="py-2 px-4">Profit</th>
        <th class="py-2 px-4">Hours</th>
        <th class="py-2 px-4">Time</th>
        <th class="py-2 px-4">Actions</th>
      </tr>
    </thead>
    <tbody class="text-gray-700 text-center">
      <% @works.each do |w| %>
        <tr>
          <td class="py-2 px-4"><%= w.created_at.strftime("%A") %></td>
          <td class="py-2 px-4">$<%= w.salary %> per-hour</td>
          <td class="py-2 px-4"><%= w.profit %></td>
          <td class="py-2 px-4"><%= w.hours %></td>
          <td class="py-2 px-4"><%= w.time %></td>
          <td class="py-2 px-4">
            <%= button_to 'Delete', work_path(w), method: :delete, 
                          data: { turbo: "false", confirm: "Delete this session?" }, 
                          class: "bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="flex justify-center mt-6">
  <%= link_to "Main", root_path, class: "bg-blue-950 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full" %>
</div>
